# This file contains common pin mappings for the BigTreeTech OctoPus V1.
# Modified by Greg's Maker Corner for a Core XY. 
# Visit my Youtube channel here for more information: https://www.youtube.com/gregsmakercorner
# To use this config, the firmware should be compiled for the STM32F446 with a "32KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference
# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the OctoPus with that SD card.

# See docs/Config_Reference.md for a description of parameters.

## Voron Design VORON2 250/300/350mm BigTreeTech OctoPus V1 TMC2209 UART config

## *** THINGS TO CHANGE/CHECK: ***
## MCU paths							[mcu] section
## Thermistor types						[extruder] and [heater_bed] sections - See 'sensor types' list at end of file
## Z Endstop Switch location			[safe_z_home] section
## Homing end position				[gcode_macro G32] section
## Z Endstop Switch  offset for Z0		[stepper_z] section
## Probe points							[quad_gantry_level] section
## Min & Max gantry corner postions		[quad_gantry_level] section
## PID tune								[extruder] and [heater_bed] sections
## Fine tune E steps					[extruder] section

[mcu]
##	[X in MOTOR0] - B Motor
##	[Y in MOTOR1] - A Motor
##	[E in MOTOR3] - Extruder
##	Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_04002A001950534841313020-if00
#restart_method: command
##--------------------------------------------------------------------

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 6000    			#Max 4000
max_accel_to_decel: 6000
max_z_velocity: 15 			#Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 30
square_corner_velocity: 5.0

#####################################################################
# 	X/Y Stepper Settings
#####################################################################

## X Stepper on MOTOR0(B Motor)
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 400  #set to 400 for .9 degree motors, 200 (Default) for 1.80
endstop_pin: PG9 #greg - set to PG9
position_min: 0
##--------------------------------------------------------------------

##	Uncomment below for 250mm build
#position_endstop: 250
#position_max: 250

##	Uncomment for 300mm build #greg- uncommented to match my core XY dimensions
position_endstop: 0 #340 to 0
position_max: 300

##--------------------------------------------------------------------
homing_speed: 100   #Max 100
homing_retract_dist: 5
#homing_positive_dir: true

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin: PC4
interpolate: True
run_current: 0.8
hold_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

## Y Stepper on MOTOR1 (A Motor)
[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 400  #set to 400 for 0.9 degree stepper, 200 for 1.80
endstop_pin: PG10  #greg - set to PG10

position_min: 0
position_endstop: 0
position_max: 300

##--------------------------------------------------------------------
homing_speed: 100  #Max 100
homing_retract_dist: 5
#homing_positive_dir: true

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_y]
uart_pin: PD11
interpolate: True
run_current: 0.8
hold_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0
 
#####################################################################
# 	Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left on MOTOR2_1 and MOTOR2_2
[stepper_z]
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
rotation_distance: 8
microsteps: 16
endstop_pin: PG11  #greg - set to PG11
position_endstop: 0.05
position_max: 385
position_min: 0
#homing_speed: 5
#second_homing_speed: 3
#homing_retract_dist: 3

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PC6
interpolate: true
run_current: 1
hold_current: .9
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
# 	Extruder
#####################################################################

#	E0 on MOTOR3
[extruder]
step_pin: PG4
dir_pin: PC1
enable_pin: !PA0
rotation_distance: 7.2380 #updated after calibration (Greg)
microsteps: 16
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: PA2
##	Validate the following thermistor type to make sure it is correct
sensor_type: ATC Semitec 104GT-2
sensor_pin: PF4
min_temp: 10
max_temp: 270
max_power: 1.0
min_extrude_temp: 170
max_extrude_cross_section: 50.0 #fix move exceeds maximum extrusion issue?
max_extrude_only_distance: 150
#pressure_advance: 0.0375

##	E0 on MOTOR3 #greg changed
##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 extruder]
uart_pin: PC7 #greg changed
interpolate: false #greg changed
run_current: 1.1 #greg changed
hold_current: 1.1 #greg changed
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
##	SSR Pin - BED_OUT
heater_pin: PA1
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PF3
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 1
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

#####################################################################
# 	Fan Control
#####################################################################

[fan]
##	Print Cooling Fan - CNC_FAN0
pin: PE5
kick_start_time: 0.5
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
max_power: 1.0
off_below: 0.10

[heater_fan hotend_fan]
##	Hotend Fan - CNC_FAN1
pin: PA8
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##	If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0
##################################################

[idle_timeout]
timeout: 1800

[safe_z_home]
##	XY Location of the Z Endstop Switch
##	Update -10,-10 to the XY coordinates of your endstop pin 
##	(such as 157,305) after going through Z Endstop Pin
##	Location Definition step.
home_xy_position:0,0
speed:100
z_hop:10


#### You must calibrate to use input shaper and find your own values.
#[input_shaper]
#shaper_freq_x: 38.5714
#shaper_freq_y: 36.5217


########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>

#####################################################################
# 	Displays
#####################################################################

## 	Uncomment the display that you have
#--------------------------------------------------------------------

#[display]
##	RepRapDiscount 128x64 Full Graphic Smart Controller
#lcd_type: st7920
#cs_pin: EXP1_4
#sclk_pin: EXP1_5
#sid_pin: EXP1_3
#menu_timeout: 40
#encoder_pins: ^EXP2_5, ^EXP2_3
#click_pin: ^!EXP1_2

#[output_pin beeper]
#pin: EXP1_1

#--------------------------------------------------------------------

[display]
#	mini12864 LCD Display
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2
contrast: 63
spi_software_miso_pin: EXP2_1
spi_software_mosi_pin: EXP2_6
spi_software_sclk_pin: EXP2_2

#[neopixel btt_mini12864]
##	To control Neopixel RGB in mini12864 display
#pin: EXP1_6
#chain_count: 3
#initial_RED: 0.1
#initial_GREEN: 0.5
#initial_BLUE: 0.0
#color_order: RGB

##	Set RGB values on boot up for each Neopixel. 
##	Index 1 = display, Index 2 and 3 = Knob
#[delayed_gcode setdisplayneopixel]
#initial_duration: 1
#gcode:
#        SET_LED LED=btt_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0
#        SET_LED LED=btt_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=0
#        SET_LED LED=btt_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=3 

#--------------------------------------------------------------------

    
[gcode_macro START_PRINT]
default_parameter_EXTRUDERS_ENABLED_COUNT: 1
default_parameter_MATERIAL_BED_TEMPERATURE: 65
default_parameter_MATERIAL_PRINT_TEMPERATURE: 210
#configure the params below to tune the stage desired temperatures based on the standby temps
gcode:
    #M73 P0                       ; clear GLCD progress bar
    G21                          ; set to mm
    M107                         ; disable fans
    G90                          ; absolute positioning
    M83                          ; extruder to relative mode
    G92 E0                       ; set extruder to zero
    G28                          ; home
    G1 Z0.6 X0 Y2 F2000.0        ; move to 0,0
    M140 S{MATERIAL_BED_TEMPERATURE}                                                           ; wait for bed temp  
    M104 S{MATERIAL_PRINT_TEMPERATURE}                                                         ; set extruder
    M190 S{MATERIAL_BED_TEMPERATURE}                                                           ; wait for bed temp   
    M109 S{MATERIAL_PRINT_TEMPERATURE}                                                         ; wait for extruder temp
    G92 E0.0
    G1 Z0.2 X40 E20 F1000.0      ; intro line
    G92 E0.0
    M400                         ; clear buffer
    #M117 CARRIE Printing...      ; LCD status message
    
[gcode_macro END_PRINT]
gcode:
    M400                        ; clear buffer
    M104 S0                     ; turn off temperature
    M140 S0                     ; turn off heatbed
    M107                        ; turn off fan
    G91                         ; relative positioning
    G1 Z5                       ; move Z down 5mm
    G90                         ; absolute positioning
    G1 F1000.0                  ; set feed rate
    G1 E-3                      ; retract
    G1 X118 Y118 F3000          ; home X axis
    M221 S100                   ; Reset Filament Flowrate
    M84 XYE                      ; disable motors

## 	Thermistor Types
##   "EPCOS 100K B57560G104F"
##   "ATC Semitec 104GT-2"
##   "NTC 100K beta 3950"
##   "Honeywell 100K 135-104LAG-J01"
##   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
##   "AD595"
##   "PT100 INA826"

[virtual_sdcard]
path: ~/gcode_files

[pause_resume]

[display_status]

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
default_parameter_X: 0    # edit to your preferred park position
default_parameter_Y: 0    # edit to your preferred park position
default_parameter_Z: 10     # edit to your preferred park position
default_parameter_E: 2      # edit to your preferred retract length
gcode:
    SAVE_GCODE_STATE NAME=PAUSE_state
    BASE_PAUSE
    G91
    G1 E-{E} F2100
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F6000

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    G91 
    G1 Z5 
    G90
    G92 E0
    G1 X0 Y0 E-3
    G92 E0
    M84 XYE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT

[gcode_macro RESUME]
rename_existing: BASE_RESUME
default_parameter_E: 1      # edit to your preferred retract length
gcode:
    G91
    G1 E{E} F2100
    G90
    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1
    BASE_RESUME


[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
default_parameter_X: 0    # edit to your preferred park position
default_parameter_Y: 0    # edit to your preferred park position
default_parameter_Z: 10     # edit to your preferred park position
default_parameter_E: 2      # edit to your preferred retract length
gcode:
    SAVE_GCODE_STATE NAME=PAUSE_state
    BASE_PAUSE
    G91
    G1 E-{E} F2100
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F6000


[gcode_macro LOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E30 F1800                  ; quickly load filament to down bowden
   G1 E20 F300                    ; slower extrusion for hotend path
   G1 E10 F150                    ; prime nozzle with filament
   M82                            ; set extruder to absolute


[gcode_macro UNLOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E10 F300                    ; extrude a little to soften tip
   G1 E-65 F1800                 ; retract filament completely
   M82                            ; set extruder to absolute


# Tool to help adjust bed leveling screws. One may define a
# [bed_screws] config section to enable a BED_SCREWS_ADJUST g-code
# command.
[bed_screws]
screw1: 10,10
screw1_name: front left 
screw2: 270,10
screw2_name: front right
screw3: 270,270
screw3_name: back right
screw4: 10,270
screw4_name: back left

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 18.736
#*# pid_ki = 0.844
#*# pid_kd = 103.986
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 57.153
#*# pid_ki = 1.877
#*# pid_kd = 435.075

